<table class="table">
  <thead>
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Product Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!-- <th scope="row">1</th>
      <td>Mark</td> -->
      <td>Product One</td>
      <td>$22.50</td>
    </tr>
    <tr>
      <!-- <th scope="row">2</th>
      <td>Jacob</td> -->
      <td>Product Two</td>
      <td>$15.00</td>
    </tr>
    <!-- <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr> -->
    <tr>
      <!-- <th scope="row">2</th>
      <td>Jacob</td> -->
      <td>Product Four</td>
      <td>$123.82</td>
    </tr>
    <tr>
      <!-- <th scope="row">2</th>
      <td>Jacob</td> -->
      <td>Product Five</td>
      <td>$123.75</td>
    </tr>
  </tbody>
</table>
